/* You can add global styles to this file, and also import other style files */
@import '~normalize.scss';

/* COLORES */
//(Dark Mode Elements)
$dark-blue: hsl(209, 23%, 22%);
//(Dark Mode Background)
$very-dark-blue-bg : hsl(207, 26%, 17%);
//(Light Mode Text)
$very-dark-blue-text : hsl(200, 15%, 8%);
//(Light Mode Input)
$dark-gray : hsl(0, 0%, 52%);
//(Light Mode Background)
$very-light-gray : hsl(0, 0%, 98%);
//(Dark Mode Text & Light Mode Elements)
$white : hsl(0, 0%, 100%);

//Boton cambiar tema
$input-light: #88C8F7;
$input-dark: rgb(9,73,119);
$btn-dark: #121A21;
$color-sol: rgb(255,217,0);
//padding btn
$btn-padding: .5rem;

//Sombra
$sombra: 1px 2px 4px rgba($color: #000000, $alpha: .05);


/* Fuente principal */
$fuente : 'Nunito Sans', sans-serif;

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: $very-light-gray;
    font-family: $fuente;
    font-size: 1.4rem;
    transition: background-color .2s ease-in;
    &.dark{
      background-color: $very-dark-blue-bg;
    }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  @media screen and (min-width: 920px){
    padding: 0 8rem;
  }
}